%section.title
  %h1 BitcoinLaunchDetected
  %blockquote "A TWO-FACTOR AUTHENTICATION INTERNET OF THINGS device that uses the CLOUD and BIG DATA to transfer VIRTUAL CURRENCY in REALTIME ASYNCHRONOUSLY."
